<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Shopping Pizza Cart</title>
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
	 <div class="container" >
		{{!-- <div>Nav bar here...</div> --}}
		{{!-- {{{body}}}  --}}

{{!-- <h1>Pizza Shopping Cart</h1> --}}

    <h1>Perfect Pizza</h1>

    {{> cart}}

    {{{body}}}

<div class="pizza contact_us" >
<h2>Contact details</h2>

    <div>
    Contact us at: (021)-541-1000 
    </div>

    <div>
    twitter
    /fb
    /insta
    @perfectpizza
    </div>

  </div>

</div>

<div class="footer" >
    <h4>Matjuta Pretty | Perfect Pizza | @Uj & Accuture CodeX | 2021 </h4>
</div>

	</div>
</body>
</html>


        {{!-- </form>

    <form action="/" method="POST">
    <label for="theMessage">Message</label>
    <input type="text"> <br><br>
    <button type="submit">Submit</button>

    <% if(theMessage != '') { %>
    <h1>style="color: pink; font-family: Arial, Helvetica, sans-serif;">Enjoy your pizza!, <%= theMessage %></h1>
    <% } %>
    </form> --}}