<h1>Counter Index</h1>


<div>
    Start here

    {{!-- <form action="/count" method="post" >

    <input type="submit" name="size" value="Small">
    <input type="submit" name="size" value="Medium">
    <input type="submit" name="size" value="Large">

</form> --}}

    <form action="/count" method="post">
        <div class="counter" >
            {{counter}}
        </div>    
        <input type="submit" value="Press button to count">
    
    </form>

</div>