body {
    background-color: palevioletred;
}
h3 {
    text-align: center;
}
.cart {
    background-color:#FF5C8A;
    flex: 1;
    padding-top: 0.1em;
}

.cartTable {
    margin-left: auto;
    margin-right: auto;
    
}
.checkOut, .payBtn {
    display: box;
    margin: auto;
    border-radius: 1em;
    border: 5%;
    padding: 5px 5px;
    background-color: #FF477E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.addBtn, .minusBtn {
    display: box;
    margin: auto;
    border-radius: 2em;
    border: 5%; 
    padding: 5px 5px;
    background-color: #FF477E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
}

.pAmt {
    font-weight: bold;
    border: 10em;
    border-radius: 10%;
}

.payAmt {
    border: 2%;
    margin-left: 3px;
    padding: 3px;
    background-color: #FF477E;
    font-size: 12px;
    box-shadow: none;
    display: ruby;
}